<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" routerLink="home ">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" navbar-collapse " id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="home" routerLinkActive="bg-primary-subtle">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="blog" routerLinkActive="bg-primary-subtle">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="contact" routerLinkActive="bg-primary-subtle">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" routerLink="login" routerLinkActive="bg-primary-subtle">login</a>
        </li>
        
        
       
      </ul>
      
    </div>
  </div>
</nav>