
<div class="container border border-2 m-5 d-flex flex-column">
    <form [formGroup]="contactform" (ngSubmit)="submitcontact(contactform)">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
            formControlName='emailadress'>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName='texarea'></textarea>
          </div>    
    
   
    <button type="submit" [disabled]="contactform.invalid"  class="btn btn-primary">submit</button>
  </form>
</div>

